/*Kael Santiago Guerrero Dominguez*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('img1/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    padding: 20px; /* Añadido padding para asegurar que el contenido no toque los bordes */
    color: #333; /* Color del texto */
}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7;
    padding: 30px 20px;
    z-index: 10;
}

.Header.abajo {
    background: #c36bdd;
    padding: 15px 20px;
}

.menu-icon{
    display: none;
}

.menu-icon i{
color:white;
font-size: 30px;



}

.Header .logo {
    width: 100px;
    height: 100px;
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

.navbar {
    padding: 10px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    height: 70px;
    
}

.Header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .menu .item {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;    

}

.Header .menu .item .link {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: #f8f4f2;
    font-weight: 600;
    font-size: 20px;
   
}

.menu .item .link:hover {
    color: rgb(53, 51, 51);
    border-radius: 15px;
}


div {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px; /* Añadido padding para el contenedor */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    text-align: center;
}

button {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 24px; 
    color: #333; /* Cambié a un color más oscuro para mejor contraste */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    max-width: 450px;
    height: 75px;
    transition: all 0.3s ease; 
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(130, 131, 131, 0.66);
}

button:hover {
    width: 100%;
    max-width: 500px;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(46, 46, 46, 0.66);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    div {
        padding: 15px;
    }
    button {
        font-size: 20px;
        height: auto;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    div {
        padding: 10px;
    }
    button {
        font-size: 18px;
        height: auto;
        padding: 10px;
    }
}
